{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true,
            "dynamicImport": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        },
        "baseUrl": ".",
        "paths": {
            "@domain/*": [
                "src/domain/*"
            ],
            "@application/*": [
                "src/application/*"
            ],
            "@infrastructure/*": [
                "src/infrastructure/*"
            ],
            "@shared/*": [
                "src/shared/*"
            ]
        },
        "target": "es2022"
    },
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": true
}